@model IEnumerable<TblImage>
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/lightbox/ekko-lightbox.css" rel="stylesheet" />
<link href="~/css/Gallery.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="gallery-section col-md-11 my-center">
    <div class="gallery-container">
        <h3 class="text-center title-h3 my-center mb-5">
            <span class="my-center">
                Gallery
            </span>
        </h3>
        <div class="row white-card pr-2 pl-2 pt-4 pb-4 p-md-4" dir="ltr">
            <div class="col-11 col-md-3 white-card my-column pl-0 pr-0 pb-3 right-side-menu" dir="ltr">
                <h6 class="text-center text-white bgMyGreen IRANYekan p-3 m-0 mb-3">
                    <span class="text-white">Gallery</span>
                </h6>
                <div class="my-row pl-3">
                    <i class="mytext-green" uk-icon="grid" width="30"></i>
                    <a href="javascript:total()" class="mytext-bold ml-1 mt-1 mytext-gray text-09">all</a>
                </div>
                <hr />
                <div class="my-row pl-3">
                    <i class="mytext-green" uk-icon="images" width="30"></i>
                    <a href="javascript:photo()" class="mytext-bold ml-1 mt-1 mytext-gray text-09">Photos</a>
                </div>
                <hr />
                <div class="my-row pl-3">
                    <i class="mytext-green" uk-icon="play-circle" width="30"></i>
                    <a href="javascript:video()" class="mytext-bold ml-1 mt-1 mytext-gray text-09">Videos</a>
                </div>
                <hr />
                <div class="my-row pl-3">
                    <i class="mytext-green" uk-icon="calendar" width="30"></i>
                    <a href="javascript:archive()" class="mytext-bold ml-1 mt-1 mytext-gray text-09 text-left">Download Archive</a>
                </div>
                <hr />
                <div class="my-row pl-3">
                    <i class="mytext-green" uk-icon="apps" width="30"></i>
                    <a href="javascript:product()" class="mytext-bold ml-1 mt-1 mytext-gray text-09 text-left">Products</a>
                </div>
            </div>
            <div class="col-md-9 my-column mt-4 mt-md-0" id="gallery-result">
                <!--photos section-->
                <div class="card-with-border mb-4" id="gallery-photo">
                    <h3 class="text-center title-h3 my-center  mb-4 mt-3">
                        <span class="my-center">
                            Photos
                        </span>
                    </h3>
                    <div class="my-center">
                        <div class="mb-3 grid">
                            @foreach (var item in Model.Where(i => i.Status == 1))
                            {
                                <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                    <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">
                                        <span class="mt-2 mytext-gray text-09">@item.NameEn</span>
                                        <img src="~/Images/Gallery/@item.ImageUrl" class="img-fluid">
                                        <p class="p-2 text-08" dir="rtl">
                                            @item.DescriptionEn
                                        </p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="edit-admin pb-5 ">
                            <hr />
                            <a href="/Admin/Home" class="btn btn-info mr-auto pl-3 float-right pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                        </div>
                    }
                </div>
                <!--videos section-->
                <div class="card-with-border mb-4" id="gallery-video">
                    <h3 class="text-center title-h3 my-center  mb-4 mt-3">
                        <span class="my-center">
                            Videos
                        </span>
                    </h3>
                    <div class="my-center">
                        <div class="mb-3 grid">

                            @foreach (var item in Model.Where(i => i.Status == 2))
                            {
                                <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                    <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">

                                        <span class="mt-2 mytext-gray text-09"> @item.NameEn</span>
                                        <video class="img-fluid" controls>
                                            <source src="~/Images/Gallery/@item.ImageUrl" type="video/mp4" />
                                        </video>
                                        <div>
                                            <p class="p-2 text-08" dir="rtl">
                                                @item.DescriptionEn
                                            </p>
                                        </div>

                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="edit-admin pb-5 ">
                            <hr />
                            <a href="/Admin/Home" class="btn btn-info mr-auto pl-3 float-right pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                        </div>
                    }
                </div>
                <!--archive section-->
                <div class="card-with-border mb-4" id="gallery-archive">
                    <h3 class="text-center title-h3 my-center mb-4 mt-3">
                        <span class="my-center">
                            Download Archive
                        </span>
                    </h3>
                    <div class="my-center">
                        <div class="mb-3 grid">
                            @foreach (var item in Model.Where(i => i.Status == 3 || i.Status == 4))
                            {
                                if (item.Status == 3)
                                {
                                    <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                        <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">
                                            <span class="mt-2 mytext-gray text-09">@item.NameEn</span>
                                            <img src="~/Images/Gallery/@item.ImageUrl" class="img-fluid">
                                            <p class="p-2 text-08" dir="rtl">
                                                @item.DescriptionEn
                                            </p>
                                        </a>
                                    </div>
                                }
                                else if (item.Status == 4)
                                {
                                    <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                        <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">

                                            <span class="mt-2 mytext-gray text-09"> @item.NameEn</span>
                                            <video class="img-fluid" controls>
                                                <source src="~/Images/Gallery/@item.ImageUrl" type="video/mp4" />
                                            </video>
                                            <div>
                                                <p class="p-2 text-08" dir="rtl">
                                                    @item.DescriptionEn
                                                </p>
                                            </div>

                                        </a>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="edit-admin pb-5 ">
                            <hr />
                            <a href="/Admin/Home" class="btn btn-info mr-auto pl-3 float-right pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                        </div>
                    }
                </div>
                <!--product section-->
                <div class="card-with-border mb-4" id="gallery-product">
                    <h3 class="text-center title-h3 my-center  mb-4 mt-3">
                        <span class="my-center">
                            Products
                        </span>
                    </h3>
                    <div class="my-center">
                        <div class="mb-3 grid">
                            @foreach (var item in Model.Where(i => i.Status == 5 || i.Status == 6))
                            {
                                if (item.Status == 5)
                                {
                                    <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                        <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">
                                            <span class="mt-2 mytext-gray text-09">@item.NameEn</span>
                                            <img src="~/Images/Gallery/@item.ImageUrl" class="img-fluid">
                                            <p class="p-2 text-08" dir="rtl">
                                                @item.DescriptionEn
                                            </p>
                                        </a>
                                    </div>
                                }
                                else if (item.Status == 6)
                                {
                                    <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                                        <a href="~/Images/Gallery/@item.ImageUrl" data-toggle="lightbox" data-gallery="example-gallery">

                                            <span class="mt-2 mytext-gray text-09"> @item.NameEn</span>
                                            <video class="img-fluid" controls>
                                                <source src="~/Images/Gallery/@item.ImageUrl" type="video/mp4" />
                                            </video>
                                            <div>
                                                <p class="p-2 text-08" dir="rtl">
                                                    @item.DescriptionEn
                                                </p>
                                            </div>

                                        </a>
                                    </div>
                                }


                            }
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="edit-admin pb-5 ">
                            <hr />
                            <a href="/Admin/Home" class="btn btn-info mr-auto pl-3 float-right pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var photoSection = document.getElementById("gallery-photo");
    var videoSection = document.getElementById("gallery-video");
    var archiveSection = document.getElementById("gallery-archive");
    var productSection = document.getElementById("gallery-product");

    function archive() {
        productSection.classList.add("d-none");
        photoSection.classList.add("d-none");
        videoSection.classList.add("d-none");
        archiveSection.classList.remove("d-none");
    }
    function photo() {
        productSection.classList.add("d-none");
        archiveSection.classList.add("d-none");
        videoSection.classList.add("d-none");
        photoSection.classList.remove("d-none");
    }
    function video() {
        productSection.classList.add("d-none");
        archiveSection.classList.add("d-none");
        photoSection.classList.add("d-none");
        videoSection.classList.remove("d-none");
    }
    function product() {
        archiveSection.classList.add("d-none");
        photoSection.classList.add("d-none");
        videoSection.classList.add("d-none");
        productSection.classList.remove("d-none");
    }
    function total() {
        archiveSection.classList.remove("d-none");
        photoSection.classList.remove("d-none");
        videoSection.classList.remove("d-none");
        productSection.classList.remove("d-none");
    }

</script>

