@model ConfigVm

    <div class="col-lg-5 col-sm-12">
        <div class="footer-widget">
            <!-- Brand -->
            <h5 href="/Home/EnIndex" class="text-white text-left footer-titr pb-0">
                <span class="mytext-gold">Arta Tiyam Maham</span> Trading Company
            </h5>
            <hr />
            <p class="paragragh text-white text-08 d-none d-md-block">
                @Model.TozihatShekatFooterEn
            </p>
        </div>
    </div>

    <div class="col-lg-3 mr-lg-auto col-sm-12">
        <div class="footer-widget text-left">
            <h6 class="text-white">Contacts</h6>
            <hr />
            <!-- Links -->
            <ul class="footer-links ">
                <li>

                    <i class="mytext-gold footer-icon" uk-icon="location" width="18"></i>
                    <span class="text-white text-08">
                        @Model.AddressEn
                    </span>

                </li>
                <li>

                    <i class=" mytext-gold gly-rotate-270" uk-icon="call" width="18"></i>
                    <span class="text-white text-08" dir="rtl">
                        @Model.TellHome1 -  @Model.TellHome2
                    </span>

                </li>
                <li>
                    <a href="mailto:@Model.Email">
                        <i class=" mytext-gold" uk-icon="mail" width="18"></i>
                        <span class="text-white text-08">
                            @Model.Email
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=@(Model.Whatsapp)" target="_blank">
                        <i class=" mytext-gold" uk-icon="logo-whatsapp" width="18"></i>
                        @*<span class="text-white text-08">
                            @Model.Whatsapp
                        </span>*@
                    </a>
                    @*<span class="vertical-divider"></span>*@
                    <i class="mytext-gold" uk-icon="phone-portrait-outline" width="18"></i>
                    <span class="text-white text-08">
                        @Model.TellMobile
                    </span>

                </li>
                <li>
                    <a href="https://www.instagram.com/@Model.Inista/" target="_blank">
                        <i class=" mytext-gold" uk-icon="logo-instagram" width="18"></i>
                        <span class="text-white text-08">
                            @Model.Inista
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6 d-none d-md-block">
        <div class="footer-widget text-left">
            <h6 class="text-white">Quick Access</h6>
            <hr />
            <!-- Links -->
            <ul class="footer-links ">
                <li>
                    <a href="/Home/EnIndex">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/Home/EnServices">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/Home/EnIndex/#Export">
                        Export & Import
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 d-none d-md-block">
        <div class="footer-widget text-left">
            <h6 class="text-white">Useful links</h6>
            <hr />
            <!-- Links -->
            <ul class="footer-links ">
                <li>
                    <a href="/About/EnAboutUs">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/Contact/EnContactUs">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="/Contact/EnCooperation">
                        Cooperation
                    </a>
                </li>

            </ul>
        </div>
    </div>